In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Telco-Customer-Churn.csv')

1. Custoemr id - unique custoemrid
2. Gender - gender of the user
3. Seniorcetizen - if 0 then not a senior citizen and if 1 then senior citizen
4. Partner - yes or no
5. Dependents - shows if users have dependents on them or not ?
6. Tenure - No of tenure completed
7. Phone service yes or no
8. Multipel lines - 3 values - 'No phone service', 'No', 'Yes'
9. Internet service - types of intenret service - 'DSL', 'Fiber optic', 'No'
10. Onlinesecurity - 'No', 'Yes', 'No internet service'

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.shape

(7043, 21)

In [5]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [8]:
df['SeniorCitizen'].unique()

array([0, 1], dtype=int64)

In [9]:
df['MultipleLines'].unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [10]:
df['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [11]:
df['OnlineSecurity'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [12]:
df['DeviceProtection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [13]:
df['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

## Using loops to see unique values of each column

In [15]:
for i in df.columns:
    unique_values = df[i].unique()
    print(f"unique values in column {i} : {unique_values}")

unique values in column customerID : ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
unique values in column gender : ['Female' 'Male']
unique values in column SeniorCitizen : [0 1]
unique values in column Partner : ['Yes' 'No']
unique values in column Dependents : ['No' 'Yes']
unique values in column tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
unique values in column PhoneService : ['No' 'Yes']
unique values in column MultipleLines : ['No phone service' 'No' 'Yes']
unique values in column InternetService : ['DSL' 'Fiber optic' 'No']
unique values in column OnlineSecurity : ['No' 'Yes' 'No internet service']
unique values in column OnlineBackup : ['Yes' 'No' 'No internet service']
unique values in column DeviceProtection : ['No' 'Yes' 'No internet service']
unique values in column TechSupport : ['No' 'Yes' 'No internet service']
unique values in column StreamingTV : ['No' 'Yes' 'No internet service']
unique values in column StreamingMovies : ['No' 'Yes' 'No internet service']
unique values in column Contract : ['Month-to-month' 'One year' 'Two year']
unique values in column PaperlessBilling : ['Yes' 'No']
unique values in column PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
unique values in column MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
unique values in column TotalCharges : ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
unique values in column Churn : ['No' 'Yes']

### find null values in each column

In [16]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

 there are no null values

In [18]:
for i in df.columns:
    null_count = df[i].isnull().sum()
    print(f"column {i} has {null_count} null values")

column customerID has 0 null values
column gender has 0 null values
column SeniorCitizen has 0 null values
column Partner has 0 null values
column Dependents has 0 null values
column tenure has 0 null values
column PhoneService has 0 null values
column MultipleLines has 0 null values
column InternetService has 0 null values
column OnlineSecurity has 0 null values
column OnlineBackup has 0 null values
column DeviceProtection has 0 null values
column TechSupport has 0 null values
column StreamingTV has 0 null values
column StreamingMovies has 0 null values
column Contract has 0 null values
column PaperlessBilling has 0 null values
column PaymentMethod has 0 null values
column MonthlyCharges has 0 null values
column TotalCharges has 0 null values
column Churn has 0 null values

Split data into traing and test

In [21]:
X = df.drop('Churn',axis=1).copy()
X.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65

In [22]:
y = df['Churn'].copy()
y.head()

0     No
1     No
2    Yes
3     No
4    Yes
Name: Churn, dtype: object

## One hot encoding

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
categorical_columns = df.select_dtypes(include=['object']).columns

# Print the categorical columns
print(categorical_columns)

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges',
       'Churn'],
      dtype='object')

In [25]:
categorical_columns = ['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges',
       'Churn']

In [26]:
encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(df[categorical_columns])

# Convert the encoded data into a DataFrame
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(categorical_columns))

# Concatenate the encoded DataFrame with the original DataFrame
df_encoded = pd.concat([df.drop(categorical_columns, axis=1), encoded_df], axis=1)

# Print the encoded DataFrame
print(df_encoded)

      SeniorCitizen  tenure  MonthlyCharges  customerID_0002-ORFBO  \
0                 0       1           29.85                    0.0
1                 0      34           56.95                    0.0
2                 0       2           53.85                    0.0
3                 0      45           42.30                    0.0
4                 0       2           70.70                    0.0
...             ...     ...             ...                    ...
7038              0      24           84.80                    0.0
7039              0      72          103.20                    0.0
7040              0      11           29.60                    0.0
7041              1       4           74.40                    0.0
7042              0      66          105.65                    0.0

      customerID_0003-MKNFE  customerID_0004-TLHLJ  customerID_0011-IGKFF  \
0                       0.0                    0.0                    0.0
1                       0.0                    0.0                    0.0
2                       0.0                    0.0                    0.0
3                       0.0                    0.0                    0.0
4                       0.0                    0.0                    0.0
...                     ...                    ...                    ...
7038                    0.0                    0.0                    0.0
7039                    0.0                    0.0                    0.0
7040                    0.0                    0.0                    0.0
7041                    0.0                    0.0                    0.0
7042                    0.0                    0.0                    0.0

      customerID_0013-EXCHZ  customerID_0013-MHZWF  customerID_0013-SMEOE  \
0                       0.0                    0.0                    0.0
1                       0.0                    0.0                    0.0
2                       0.0                    0.0                    0.0
3                       0.0                    0.0                    0.0
4                       0.0                    0.0                    0.0
...                     ...                    ...                    ...
7038                    0.0                    0.0                    0.0
7039                    0.0                    0.0                    0.0
7040                    0.0                    0.0                    0.0
7041                    0.0                    0.0                    0.0
7042                    0.0                    0.0                    0.0

      ...  TotalCharges_996.85  TotalCharges_996.95  TotalCharges_997.65  \
0     ...                  0.0                  0.0                  0.0
1     ...                  0.0                  0.0                  0.0
2     ...                  0.0                  0.0                  0.0
3     ...                  0.0                  0.0                  0.0
4     ...                  0.0                  0.0                  0.0
...   ...                  ...                  ...                  ...
7038  ...                  0.0                  0.0                  0.0
7039  ...                  0.0                  0.0                  0.0
7040  ...                  0.0                  0.0                  0.0
7041  ...                  0.0                  0.0                  0.0
7042  ...                  0.0                  0.0                  0.0

      TotalCharges_997.75  TotalCharges_998.1  TotalCharges_999.45  \
0                     0.0                 0.0                  0.0
1                     0.0                 0.0                  0.0
2                     0.0                 0.0                  0.0
3                     0.0                 0.0                  0.0
4                     0.0                 0.0                  0.0
...                   ...                 ...                  ...
7038                  0.0                 0.0                  0.0
7039                  0.0                 0.0                  0.0
7040                  0.0                 0.0                  0.0
7041                  0.0                 0.0                  0.0
7042                  0.0                 0.0                  0.0

      TotalCharges_999.8  TotalCharges_999.9  Churn_No  Churn_Yes
0                    0.0                 0.0       1.0        0.0
1                    0.0                 0.0       1.0        0.0
2                    0.0                 0.0       0.0        1.0
3                    0.0                 0.0       1.0        0.0
4                    0.0                 0.0       0.0        1.0
...                  ...                 ...       ...        ...
7038                 0.0                 0.0       1.0        0.0
7039                 0.0                 0.0       1.0        0.0
7040                 0.0                 0.0       1.0        0.0
7041                 0.0                 0.0       0.0        1.0
7042                 0.0                 0.0       1.0        0.0

[7043 rows x 13620 columns]